.qualitypage{
    background-color: black;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qualitypage h1{
    color: white;
    text-decoration: 5px purple underline;
    text-align: center;
}
.quality_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_container{
    height: 400px;
    margin-top: 30px;
    margin: 10px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    transition: all 0.5s ease;
    background-color: #202020;
}
.login_container:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to bottom, #000000, #372834, #5a5174, #5d85bd, #0cc1fc);
}
.search_box{
    display: flex;
}
#city-aqi-container{
    margin-top: 20px;
}
#city-widget{
    margin-top: 10px;
}
.login_container h2{
    color: white;
    
    text-decoration: 4px purple underline;
}
.search_box input{
    background-color: black;
    border-radius: 5px;
    color: white;
    width: max-content;
    padding-left: 10px;
    border: none;
}
#alt-city::placeholder{
    font-size: 13px;
}
#enter_button1{
    margin-left: 10px;
    width: 60px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 0.02px solid rgb(154, 156, 163);
}
#enter_button1:active{
    background-color: white;
    color: black;
}
.robo_2{
    height: 190px;
    width: 600px;
    padding-top: 50px;
    border-radius: 10px;
    margin-top: 20px;
    transform: scale(2.0);
}
.robo_bg2{
    height: 400px;
    width: 500px;
    background-color: rgb(22,22,22);
    overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
}
.send_gemini{
    display: flex;
    justify-self: end;
    background-color: red;
}
.login_container1{
    height: 400px;
    border-radius: 10px;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease;
    background-color: #202020;
    width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}
.login_container1 h2{
    margin-bottom: 10px;
}
.input_send{
    margin-top: 10px;

}
.login_container1:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to bottom, #000000, #372834, #5a5174, #5d85bd, #0cc1fc);
}
.input_send button{
    margin-left: 10px;
    width: 60px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 0.02px solid rgb(154, 156, 163);
    transition: all 0.5s ease;
}
.input_send button:active{
    background-color: white;
    color: black;
}
.input_send button:hover{
    transform: scale(1.1);
}
.input_send input{
    width: 300px;
    border-radius: 10px;
    background-color: black;
    padding-left: 20px;
    color: white;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.button_container button{
    margin-left: 10px;
    width: max-content;
    padding: 0px 5px 0 5px;
    border-radius: 10px;
    background-color: black;
}
@media screen and (max-width:1080px) {
    .login_container{
        width: 80vw;
        flex-direction: column;
    }
    .robo_bg2{
        display: none;
    }
    .search_box{
        flex-direction: column;
    }
    #enter_button1{
        margin-top: 10px;
    }
}