.metrics_page{
    width: 100vw;
    
    height: max-content;
    background-color: black;
}
.metrics_cards_container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    cursor: none;
    height: max-content;
}
.metrics_card{
    height: 300px;
    background-color: rgb(22,22,22);
    width: 320px;
    margin: 20px;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 60px;
    transition: all 0.5s ease;
}
.metrics_card:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to bottom, #000000, #372834, #5a5174, #5d85bd, #0cc1fc);
    cursor: none;
}
#metrics{
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: bold;
}
#metrics_logo{
    font-size: 40px;
}