.navbarpage {
        position: fixed;
        top: 20px;
        width: 100vw;
        z-index: 999;
}
.navbar-transparent {
    background-color:  rgba(255, 255, 255, 0.05);
    transition: background-color 0.3s ease;
  }
  
  .navbar-scrolled {
    backdrop-filter: blur(10px);
    color: white;
  }
  .navbar-scrolled .nav-link{
    color: white;
  }
nav{
    width: max-content;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom-color: (231, 231, 232, 0.08);
    height: 50px;
    border-radius: 10px;
    border: 0.00002px solid rgb(154, 156, 163);
}

.nav-link{
    color: #C0c3cb;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  
}
.nav-link:hover{
    color: white !important;
}
#logo{
    height: 40px;
    margin-top: 15px;
}
#navbar_button{
    border-radius: 10px;
    font-size: 15px;
    padding: 2px 10px 0px 10px;
    border: 0.5px solid white;
    background-color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.3s ease;
}
#menu_button{
    border: none;
    margin-bottom: 15px;
    height: max-content;
}
#navbar_button:hover{
    transform: scale(1.09);
    cursor: pointer;
}
.navbar-toggler .collapsed:active{
    border: none;
}
@media screen and (max-width:1080px) {
    nav{
        width: 80%;
    }
    #logo{
        margin-top: 0;
    }
    #navbarSupportedContent{
        background-color: black !important;
        padding-left: 20px;
    }
}