
.robo{
    width: 90vw;
    height: 60vh;
    transform: scale(1.5);
}
.robo_bg{
    width: 90vw;
    justify-self: center;
    align-self: center;
    background-color: rgb(22,22,22);
    overflow: hidden;
    position: relative;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.robo_page{
    background-color: black;
    height: max-content;
}
.robo_page h1{
    color: white;
    text-decoration: 5px underline purple;
}
.information_flex{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    height: max-content;
}
.footer_box{
    background-color: #363636;
    height: 330px;
    margin: 10px;
    margin-top: 70px;
    padding-top: 70px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    justify-content: center;
    width: 250px;
    transition: all 0.5s ease;
}
.footer_box:hover{
    transform: scale(1.05);
}
.footer_box p{
    font-size: 15px;text-align: center;
}
.circle_img{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    top: -40px;
}
.links_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 30px;
}
.links_container i{
    margin: 10px;
    cursor: pointer;
}
@media screen and (max-width:1080px) {
    .robo{
        display: none;
    }
    .information_flex{
        display: block;
    }
    .robo_bg{
        height: max-content;
    }
    .information_flex{
        position: relative;
    }
}